#root{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  background-color: #333;
  display: flex;
  justify-content: center;
  
}

.conteiner{
  display: flex;
  flex-direction: column;
  background-color:tomato ;
  color:whitesmoke;
  width: 500px;
  gap: 25px;
}
.lista-de-habitos{
  background-color: beige;
}
.habit-card{
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px;
  
}