.habit-form {
  background-color: grey;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(15, 23, 42, 0.1);
  margin-bottom: 16px;
}
.habit-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
}
.habit-form input {
  width: 100%;
  padding: 6px 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #d4d4d8;
  font-size: 0.9rem;
}
section ul   {
  background-color: #111827;
  color:#f9fafb;
  padding:15px;
  margin-left: 3px;
  margin-right:2rem;
  border-radius:6px;
  margin-block: 20px;
}
section ul p {
  background-color: #444;
}